.text{
    width: 300px / 1360px * 100%;
    p:first-child{
        font-family: DINNextCYR_Regular;
        color: #363a35;
        font-size: 25px;
    } 
    
}
.weight{
    font-family: DINNextCYR_bold; 
    font-weight: 900;
    font-size: 43px;   
}
.more{
    text-transform: uppercase;
    font-family: DINNextCYR_bold; 
    font-weight: 900;
    letter-spacing: 1.04px;
    font-size: 13px;
    a{
        color: #00a8ec;
    }
}
.more:hover{
    a{
        color: #0289be;
    }
}

.text_start{
    transition: transform 1.5s;
    transform: translateX(-150%);
}
.text_and{
    transition: transform 1.5s;
    transform: translateX(0%);
}