html{
    box-sizing: border-box;
}
*,
*:after,
*:before{
    box-sizing: inherit;
}

body{
    max-width: 1440px;
    margin: 0px auto;
    padding-left: 80px / 1440px * 100%;
    padding-right: 80px / 1440px * 100%;
    min-height: 200vh;
}
// 1360px

.container{
    display: flex;
    align-items: baseline;
}
h1{
    text-align: center;
}
@font-face{
    font-family: DINNextCYR_Regular;
    src: url(../fonts/DINNextCYR-Regular.otf);
}
@font-face{
    font-family: DINNextCYR_bold;
    src: url(../fonts/DINNextCYR-Bold.otf);
}
section{
    position:relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
    top: 100vh;
    transform: translateY(-50%);
}
a{
    text-decoration: none;
    color: #333;
}
a:focus{
    outline: none;
}

@import 'block_text';
@import 'animate';

@media(max-width:768px){
    section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .text, .amimate_wrap{
        width: 90%;
    }
    .text{
        margin-bottom: 20px;
    }
    .animate{
    top: 0%;
    transform: translateY(0%);
    }
}