@font-face {
  font-family: OpenSans-Regular;
  src: url(./../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: OpenSans-SemiBold;
  src: url("./../fonts/OpenSans-SemiBold.ttf"); }
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("./../fonts/OpenSans-ExtraBold.ttf"); }
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a:active,
a:hover,
a {
  text-decoration: none; }

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: OpenSans-Regular;
  color: #fff; }

ul {
  margin-left: 0px;
  padding-left: 0px; }

li {
  list-style-type: none; }

.container {
  padding-left: 6.6666666667%;
  padding-right: 6.6666666667%; }

.custom_text {
  max-width: 620px; }

header {
  background-color: #0e88f3;
  padding-top: 30px;
  padding-bottom: 65px; }

.logo {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.72px;
  margin-right: 11.25%; }

.menu_item a {
  color: #d2e7fb;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.54px;
  margin-right: 30px;
  transition: color 0.2s; }

.menu_item a:hover {
  color: #fff; }

nav {
  display: flex;
  align-items: center; }

.menu {
  display: flex;
  align-items: center; }

.custom_img {
  width: 51.25%; }

.custom {
  display: flex;
  align-items: center; }

.partners_img img {
  margin-right: 3%;
  display: block; }

.partners_img img:first-child {
  max-width: 63px; }

.partners_img img:nth-child(2) {
  max-width: 57px; }

.partners_img img:nth-child(3) {
  max-width: 90px; }

.partners_img img:nth-child(4) {
  max-width: 63px; }

.partners_img img:nth-child(5) {
  max-width: 104px; }

.partners_img img:last-child {
  max-width: 120px;
  margin-right: 0%; }

.partners {
  display: flex;
  align-items: center;
  margin-top: 5%; }

.partners_img {
  display: flex;
  align-items: center; }

.partners_text {
  margin-left: 10%;
  margin-right: 5%;
  transition: border-bottom 1s;
  color: #a3d0fc;
  font-size: 15px; }

.partners_text:hover {
  transition: border-bottom 1s;
  border-bottom: 1px solid #fff; }

.custom_text {
  width: 48.75%; }

.custom_text h1 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1.44px;
  padding-right: 20%; }

.custom_text p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.6px;
  color: #d2e7fb; }

.custom_text button {
  width: 37.2580645161%;
  font-family: OpenSans-SemiBold;
  text-transform: uppercase;
  color: #345477;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.68px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #9addfc;
  border-radius: 4px;
  display: block;
  transition: background-color 0.5s; }

.custom_text button:focus {
  outline: none; }

.custom_text button:hover {
  background-color: #88c4e0; }

.custom_text button:active {
  transition: background-color 0.1s;
  background-color: #fff; }

.custom_text a {
  color: #95c9fb;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  display: flex;
  align-content: center;
  margin-top: 16px;
  margin-left: 6.4516129032%;
  max-width: 150px; }

.custom_text a:hover {
  color: #fff;
  transition: text-decoration 1s;
  text-decoration: underline; }
  .custom_text a:hover svg path {
    fill: #fff; }

.custom_text a svg {
  margin-left: 1.7741935484%; }

#menu_btn {
  display: none; }

.menu_inner {
  animation: menuAnimation 1.5s linear;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0%;
  z-index: 3;
  background: #345477;
  margin: 0px;
  opacity: 1;
  padding-top: 10vh;
  font-size: 35px; }

@keyframes menuAnimation {
  0% {
    bottom: 100%;
    left: 85%;
    opacity: 0; }
  10% {
    bottom: 75%; }
  20% {
    bottom: 50%; }
  30% {
    bottom: 25%; }
  40% {
    bottom: 0%; }
  50% {
    left: 85%; }
  60% {
    left: 75%; }
  70% {
    left: 50%; }
  80% {
    left: 25%; }
  90% {
    left: 0%; } }
.item_on {
  transition: opacity 1s;
  opacity: 1; }

#cancel_btn {
  display: none;
  position: absolute;
  right: 5%;
  top: 5%; }

@keyframes menuNon {
  0% {
    right: 0%;
    top: 0%;
    bottom: 0%;
    left: 0%; }
  10% {
    left: 25%;
    right: 0%;
    top: 0%; }
  20% {
    left: 50%;
    right: 0%;
    top: 0%; }
  30% {
    left: 75%;
    right: 0%;
    top: 0%; }
  40% {
    left: 85%;
    right: 0%;
    top: 0%; }
  50% {
    bottom: 0%;
    left: 85%; }
  60% {
    bottom: 25%;
    left: 85%; }
  70% {
    bottom: 50%; }
  80% {
    bottom: 75%; }
  90% {
    bottom: 90%;
    opacity: 0; }
  100% {
    bottom: 100%;
    left: 85%; } }
.menu_none {
  animation: menuNon 1.5s linear;
  flex-direction: column;
  position: fixed;
  left: 100%;
  bottom: 100%;
  z-index: 3;
  background: #345477;
  margin: 0px;
  opacity: 1; }

.displayFlex {
  display: flex; }

.displayNone {
  display: none; }

#slider {
  width: 89.1666666667%;
  left: 5.4166666667%;
  margin-bottom: 60px; }

.slick-next {
  right: -5.4166666667%;
  border-left: 1px solid #1e91f7; }

.slider_item {
  border-bottom: 1px solid #1e91f7;
  border-right: 1px solid #1e91f7; }

.slider_item img {
  margin: 0 auto 30px; }

.slider_item img:focus {
  outline: none; }

.slider_item:focus {
  outline: none; }

.slider_item p {
  text-align: center;
  font-family: OpenSans-ExtraBold;
  color: #315479;
  font-size: 20px;
  letter-spacing: -1.29px; }

.slick-prev {
  left: -5.4166666667%;
  border-right: 1px solid #1e91f7; }

.slick-arrow {
  border-bottom: 1px solid #1e91f7;
  height: 100%;
  width: 5.4166666667%; }

.slick-prev:before {
  content: url(../images/slider/Shape_2.svg); }

.slick-next:before {
  content: url(../images/slider/Shape_1.svg); }

#btn_right {
  width: 100px; }

#fancybox-loading,
#fancybox-lock,
.fancybox-wrap,
.fancybox-skin,
.fancybox-inner,
.fancybox-error,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-wrap embed,
a.fancybox-close,
a.fancybox-expand,
a.fancybox-nav,
a.fancybox-nav span,
.fancybox-tmp {
  box-sizing: content-box; }

#fancybox-wrap,
#fancybox-wrap:before,
#fancybox-wrap:after {
  box-sizing: border-box;
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  -safari-box-sizing: content-box !important;
  box-sizing: content-box !important; }

.grouped_elements {
  outline: none; }

.support_title {
  color: #315479;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1.28px;
  text-align: center;
  width: 48%;
  margin: 0 auto 60px; }

.custome_col {
  color: #315479;
  max-width: 550px; }

.custome_col img {
  display: block;
  width: 100%; }

.custome_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px; }

.custome_col:first-child {
  padding-right: 14%; }

.custome_col h5 {
  font-size: 25px;
  color: #315479;
  letter-spacing: -1px;
  font-weight: 400; }

.custome_col p {
  font-size: 20px;
  letter-spacing: -0.9px;
  color: #677482;
  font-weight: 400; }

.door_img {
  max-width: 500px; }

.door_img img {
  display: block;
  width: 100%; }

.door_text h5 {
  font-size: 25px;
  color: #315479;
  letter-spacing: -1px;
  font-weight: 400; }

.door_text p {
  font-size: 20px;
  color: #677482;
  font-weight: 400;
  letter-spacing: -0.9px; }

.door_row {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 120px; }

.door_text {
  max-width: 383px; }

.clients {
  color: #315479;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1.44px;
  text-align: center; }

.say_col-text {
  background-color: #158af4;
  padding: 45px 45px 45px 60px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: -0.76px;
  border-radius: 5px;
  position: relative;
  z-index: 1; }

.say_col-text:after {
  content: url(../images/contant/Rounded.png);
  position: absolute;
  display: block;
  width: 10px;
  left: 20px;
  bottom: -56px;
  transform: scale(0.5);
  z-index: 2; }

.say_col-text:before {
  content: url(../images/contant/quote.png);
  position: absolute;
  transform: scale(0.6);
  left: 10px;
  top: 23px; }

.say {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
  flex-wrap: wrap; }

.say_col {
  max-width: 320px;
  margin-right: 25px; }

.say_col-name {
  color: #677482;
  font-size: 14px;
  letter-spacing: -0.56px; }

.say_col-name h6 {
  color: #315479;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.64px;
  margin-top: 25px;
  margin-bottom: 10px; }

.say_col-name {
  padding: 5px; }

.supply {
  background-color: #0e88f3;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px; }

.supply h2 {
  max-width: 750px;
  margin: 0px auto;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1.28px; }

.supply p {
  color: #d2e7fb;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.64px; }

.supply button {
  width: 200px;
  background-color: #9addfc;
  border-radius: 4px;
  font-family: OpenSans-SemiBold;
  font-size: 17px;
  color: #345477;
  letter-spacing: -0.68px;
  font-weight: 400;
  line-height: 43px;
  transition: background-color 1s;
  margin-top: 30px; }

.supply button:focus {
  outline: none; }

.supply button:hover {
  outline: none;
  background-color: #87c2dd; }

footer {
  padding-top: 65px; }

#facebook {
  fill: #3a86c6; }

#facebook:hover {
  fill: #6399c6; }

#linkedin {
  fill: #0884bd; }

#linkedin:hover {
  fill: #3494c0; }

#twitter {
  fill: #2ea9e1; }

#twitter:hover {
  fill: #59b2db; }

#instagram {
  fill: #3b82b9; }

#instagram:hover {
  fill: #5f8fb4; }

.inform_social-icon svg {
  margin-right: 10px; }

.inform_shakerfactory {
  max-width: 270px;
  margin-right: 6.25%; }
  .inform_shakerfactory h6 {
    color: #3974ca;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.5px; }
  .inform_shakerfactory p {
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.6px; }

.inform_contact {
  max-width: 260px;
  margin-right: 6.25%; }
  .inform_contact h6 {
    font-size: 12px;
    color: #3974ca;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.5px; }
  .inform_contact p {
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.6px; }
    .inform_contact p a {
      color: #3974ca; }

.inform_social {
  margin-right: 6.25%; }
  .inform_social h6 {
    font-size: 12px;
    color: #3974ca;
    font-weight: 700px;
    text-transform: uppercase;
    letter-spacing: -0.5px; }

.inform_row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.made {
  color: #323232;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-left: 20px; }

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 60px; }

@media (max-width: 576px) {
  .support_title {
    font-size: 28px; }

  .supply h2 {
    font-size: 24px; } }
@media (max-width: 768px) {
  .menu {
    display: none; }

  #menu_btn {
    display: block;
    margin-left: auto; }

  .item_none {
    opacity: 0; }

  .custom {
    flex-direction: column; }

  .custom_text {
    width: 100%; }

  .custom_img {
    width: 100%; }

  .custome_row, .door_row {
    flex-direction: column;
    align-content: center; }
    .custome_row .custome_col, .door_row .custome_col {
      padding-right: 0px;
      padding-right: 0px;
      margin-bottom: 20px; }

  .door_row {
    flex-direction: column-reverse; }

  .door_text {
    max-width: 100%; }

  .support_title {
    width: 100%; }

  .door_img, .door_text {
    margin-bottom: 40px; } }
@media (max-width: 992px) {
  .custom_text button {
    font-size: 12px; } }
@media (max-width: 1050px) {
  .partners {
    flex-direction: column;
    width: 100%;
    align-items: inherit; }

  .partners_img {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%; } }

/*# sourceMappingURL=style.css.map */
