@font-face{
    font-family: BrandonGrotesque-Light;
    src: url('../fonts/BrandonGrotesque-Light.ttf');
}
@font-face{
    font-family: BrandonGrotesque-Bold;
    src: url('../fonts/BrandonGrotesque-Bold.ttf');
}
@font-face{
    font-family: BrandonGrotesque-Regular;
    src: url('../fonts/BrandonGrotesque-Regular.ttf');
}