@import 'fonts';
html{
    box-sizing: border-box;
    *,
    *:before,
    *:after{
        box-sizing: inherit;
    }
}
body{
    max-width: 1400px;
    margin: 0 auto;
    color: #ffffff;
    font-family: BrandonGrotesque-Regular;
}
.container{
    padding-left: 230px / 1400px * 100%;
    padding-right: 230px / 1400px * 100%;
}
@media(max-width: 1200px){
    .container{
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media(max-width: 768px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
}




@import 'header';
@import 'section';
@import 'footer';