.aside{
    width: 80px;
    background-color: #01134E;
    height: 100%;
    padding-top: 18px;
}
.logo{
    svg{
        margin: 0 auto;
        display: block;
    }
}
.calendar{
    margin-top: 58px;
    svg{
        margin: 0 auto;
        display: block;
        position: relative;
        top: 50%;
        left:-2px;
        transform: translateY(-50%);
    }
    height: 48px;
    border-left: 4px solid #01134E;
}
.calendar:after{
    content: '1';
    width: 19px;
    height: 19px;
    background-color: #2A74DB;
    font-size: 12px;
    font-weight: 900;
    font-family: Roboto-Black;
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    position: relative;
    top: -18px;
    right: -37px;
    color: #fff;
    padding-top: 3px;  
}
.user{
    svg{
        margin: 0 auto;
        display: block;
        position: relative;
        top: 50%;
        left:-2px;
        transform: translateY(-50%);
    }
    height: 48px;
    margin-top: 22px;
    margin-bottom: 22px;
    border-left: 4px solid #01134E;
}
.settings{
    svg{
        margin: 0 auto;
        display: block;
        position: relative;
        top: 50%;
        left:-2px;
        transform: translateY(-50%);
    }
    height: 48px;
    margin-bottom: 23px;
    border-left: 4px solid #01134E;
}
.people{
    svg{
        margin: 0 auto;
        display: block;
        position: relative;
        top: 50%;
        left:-2px;
        transform: translateY(-50%);
    }
    height: 48px;
    margin-bottom: 20px;
    border-left: 4px solid #01134E;
}
.message{
    svg{
        margin: 0 auto;
        display: block;
        position: relative;
        top: 50%;
        left:-2px;
        transform: translateY(-50%);
    }
    height: 48px;
    border-left: 4px solid #0AD69C;
}
.aside_btn:hover{
    svg{
        fill: rgb(165, 175, 211) !important;
    }
}