html{
    box-sizing: border-box;
}
*,
*:after,
*:before{
    box-sizing: inherit;
}
@font-face{
    font-family: Roboto-Regular;
    src: url(../../fonts/Roboto-Regular.ttf)
}
@font-face{
    font-family: Roboto-Black;
    src: url(../../fonts/Roboto-Black.ttf)
}
@font-face{
    font-family: Exo2-Regular;
    src: url(../../fonts/Exo2-Regular.ttf)
}

body{
    margin: 0px;
    background-color: #E5E5E5;
}
#root{
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    display: flex;
}

@import 'header';
@import 'output';
@import 'aside';