header{
    background-color: $bg_header;
    padding-top: 30px;
    padding-bottom: 65px;
}
.logo{
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.72px;
    margin-right: 135px / 1200px * 100%;
}
.menu_item a{
    color: #d2e7fb;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.54px;
    margin-right: 30px;
    transition: color 0.2s;
}
.menu_item a:hover{
    color: #fff;
}
nav{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
.custom_img{
    width: 533px / 1040px * 100%;
}
.custom{
    display: flex;
    align-items: center;
}

.partners_img img{
    margin-right: 3%;
    display: block;
}
.partners_img img:first-child{
    max-width: 63px;
}
.partners_img img:nth-child(2){
    max-width: 57px;
}
.partners_img img:nth-child(3){
    max-width: 90px;
}
.partners_img img:nth-child(4){
    max-width: 63px;
}
.partners_img img:nth-child(5){
    max-width: 104px;
}
.partners_img img:last-child{
    max-width: 120px;
    margin-right: 0%;
}
.partners{
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.partners_img{
    display: flex;
    align-items:center;
}
.partners_text{
    margin-left: 10%;
    margin-right: 5%;
    transition: border-bottom 1s;
    color: #a3d0fc;
    font-size: 15px;

}
.partners_text:hover{
    transition: border-bottom 1s;
    border-bottom: 1px solid #fff;
}
.custom_text{
    width: 507px / 1040px * 100%;
}
.custom_text h1{
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -1.44px;
    padding-right: 20%;
}
.custom_text p{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.6px;
    color: #d2e7fb;
}
.custom_text button{
    width: 231px / 620px * 100%;
    font-family: OpenSans-SemiBold;
    text-transform: uppercase;
    color: #345477;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.68px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #9addfc;
    border-radius: 4px;
    display: block;
    transition: background-color 0.5s;
}
.custom_text button:focus{
    outline: none;
}
.custom_text button:hover{
    background-color: #88c4e0;
}
.custom_text button:active{
    transition: background-color 0.1s;
    background-color: #fff;
}
.custom_text a{
    color: #95c9fb;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
    display: flex;
    align-content: center;
    margin-top: 16px;
    margin-left: 40px / 620px * 100%;
    max-width: 150px;
    
}
.custom_text a:hover{
    color: #fff;
    transition: text-decoration 1s;
    text-decoration: underline;
    svg path{
        fill:#fff;   
    }
}
.custom_text a svg{
    margin-left: 11px / 620px * 100%;
}
#menu_btn{
    display: none;
}
.menu_inner{
    animation: menuAnimation 1.5s linear;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0%;
    z-index: 3;
    background: #345477;
    margin: 0px;
    opacity: 1;
    padding-top: 10vh;
    font-size: 35px;
}

@keyframes menuAnimation{
    0%{
        bottom: 100%;
        left: 85%;
        opacity: 0; 
    }
    10%{
        bottom: 75%;
    }
    20%{
        bottom: 50%;
    }
    30%{
        bottom: 25%;
    }
    40%{
        bottom: 0%;
    }
    50%{
        left: 85%;
    }
    60%{
        left: 75%;
    }
    70%{
        left: 50%;
    }
    80%{
        left: 25%;
    }
    90%{
        left: 0%;
    }
}
.item_on{
    transition: opacity 1s;
    opacity: 1;
}
#cancel_btn{
    display: none;
    position: absolute;
    right: 5%;
    top: 5%;
}

@keyframes menuNon{
    0%{
        right: 0%;
        top: 0%;
        bottom: 0%;
        left: 0%;
    }
    10%{
        left: 25%;
        right: 0%;
        top: 0%;
    }
    20%{
        left: 50%;
        right: 0%;
        top: 0%;
    }
    30%{
        left: 75%;
        right: 0%;
        top: 0%;
    }
    40%{
        left: 85%;
        right: 0%;
        top: 0%;
    }
    50%{
        bottom: 0%;
        left: 85%;
    }
    60%{
        bottom: 25%;
        left: 85%;
    }
    70%{
        bottom: 50%;
;
    }
    80%{
        bottom: 75%;
;
    }
    90%{
        bottom: 90%;
        opacity: 0; 
    }
    100%{
        bottom: 100%;
        left: 85%;
    }
}
.menu_none {
    animation: menuNon 1.5s linear;
    flex-direction: column;
    position: fixed;
    left: 100%;
    bottom: 100%;
    z-index: 3;
    background: #345477;
    margin: 0px;
    opacity: 1;
}
.displayFlex{
    display: flex;
}
.displayNone{
    display: none;
}