// body{
//     background-color: #bbb;
// }
#slider{
    width: 1070px / 1200px * 100%;
    left: 65px / 1200px * 100%;
    margin-bottom: 60px;
}
.slick-next{
    right: -(65px / 1200px * 100%);
    border-left: 1px solid #1e91f7;
}
.slider_item{
    border-bottom: 1px solid #1e91f7;
    border-right: 1px solid #1e91f7;
}
.slider_item img{
    margin: 0 auto 30px;
}
.slider_item img:focus{
    outline: none;
}
.slider_item:focus{
    outline: none;
}
.slider_item p {
    text-align: center;
    font-family: OpenSans-ExtraBold;
    color: #315479;
    font-size: 20px;
    letter-spacing: -1.29px;
}
.slick-prev{
    left: -(65px / 1200px * 100%);
    border-right: 1px solid #1e91f7;
}
.slick-arrow{
    border-bottom: 1px solid #1e91f7;
    height: 100%;
    width: 65px / 1200px * 100%;
}
.slick-prev:before {
    content: url(../images/slider/Shape_2.svg);
}
.slick-next:before {
    content: url(../images/slider/Shape_1.svg);
}
#btn_right{
    width: 100px;
}
#fancybox-loading,
#fancybox-lock,
.fancybox-wrap,
.fancybox-skin,
.fancybox-inner,
.fancybox-error,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-wrap embed,
a.fancybox-close,
a.fancybox-expand,
a.fancybox-nav,
a.fancybox-nav span,
.fancybox-tmp {
    box-sizing: content-box;
}

#fancybox-wrap,
#fancybox-wrap:before,
#fancybox-wrap:after{
    box-sizing: border-box;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    -safari-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
.grouped_elements{
    outline: none;
}