.supply{
    background-color: #0e88f3;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
}
.supply h2{
    max-width: 750px;
    margin: 0px auto;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -1.28px;
}
.supply p{
    color: #d2e7fb;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
}
.supply button{
    width: 200px;
    background-color: #9addfc;
    border-radius: 4px;
    font-family: OpenSans-SemiBold;
    font-size: 17px;
    color: #345477;
    letter-spacing: -0.68px;
    font-weight: 400;
    line-height: 43px;
    transition: background-color 1s;
    margin-top: 30px;
}
.supply button:focus{
    outline:none;
}
.supply button:hover{
    outline:none;
    background-color: #87c2dd;
}