html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

@font-face {
  font-family: Roboto-Regular;
  src: url(../../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: Roboto-Black;
  src: url(../../fonts/Roboto-Black.ttf); }
@font-face {
  font-family: Exo2-Regular;
  src: url(../../fonts/Exo2-Regular.ttf); }
body {
  margin: 0px;
  background-color: #E5E5E5; }

#root {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  display: flex; }

.header {
  height: 63px;
  border-bottom: 1px solid #DAE4F2;
  background-color: #fff;
  font-family: Roboto-Regular;
  color: #252F48;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px; }

.header_output {
  letter-spacing: 0.685714px;
  margin-top: 9px;
  display: flex;
  align-items: center; }
  .header_output svg {
    margin-top: 1px;
    margin-right: 12px;
    margin-left: 15px;
    display: block; }
  .header_output span {
    display: block; }

.header_output:hover {
  color: #455681; }

.arrow_down svg {
  display: block; }

.user_name {
  display: flex;
  align-items: center;
  color: #252F48;
  margin-top: 5px;
  letter-spacing: 0.28px;
  position: relative; }
  .user_name .user_name-text {
    margin-bottom: 1px;
    font-size: 14px;
    margin-left: 10px; }
  .user_name img {
    margin-top: 3px; }
  .user_name svg {
    margin-left: 8px; }

.user_name-text:hover {
  color: #465988; }
  .user_name-text:hover svg {
    fill: #465988 !important; }

#header_output-home {
  margin-bottom: 2px; }

#open_block {
  width: 100%;
  position: absolute;
  top: 30px;
  display: none;
  background-color: #E5E5E5;
  padding: 5px;
  text-align: left; }
  #open_block div span {
    position: absolute;
    right: 5px; }

.output {
  width: 944px;
  height: 100%;
  background: #F8F9FB; }

.aside_page {
  width: 100%;
  height: 705px;
  display: none;
  background-color: #F7F9FC; }

.chat {
  width: 854px;
  height: 556px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
  border-radius: 4px;
  display: flex; }

.mess {
  padding: 44px 10px 10px 44px; }

.users {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #F7F9FC; }

.profile {
  height: 92.6666667px;
  display: flex; }

.profile_flex-time {
  font-size: 12px;
  letter-spacing: 0.428571px;
  font-family: Roboto-Regular;
  color: #9BA0AD;
  text-align: right;
  padding-top: 10.49px;
  padding-right: 13px; }

.profile_flex {
  width: 100%; }

.profile_flex-message h6 {
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.571429px;
  color: #01134E;
  font-weight: 500;
  font-family: Exo2-Regular;
  padding-bottom: 4.66px;
  position: relative;
  word-break: normal; }
.profile_flex-message p {
  margin: 0;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #252F48;
  opacity: 0.43; }

.photo {
  padding-left: 21px;
  padding-top: 19.29px;
  padding-right: 14px; }

.profile_active {
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15); }

.profile_flex-circle:after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0AD69C;
  display: inline-block;
  position: absolute; }

.profile_flex-voice {
  position: relative; }

.profile_flex-voice:after {
  content: url(../../img/Group.png);
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 85px; }

.user_message_page {
  width: 100%;
  height: 100%;
  display: none; }

.user_message_page_active {
  width: 100%;
  height: 100%;
  display: block; }

.write {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 61px;
  width: 100%;
  justify-content: space-between; }

.user_message {
  width: 554px;
  height: 100%;
  border: 1px solid #F5F6F9; }

.user_position {
  position: relative; }

#add_file {
  display: none; }

#send_message {
  border: none;
  box-shadow: 0px 0px 15px rgba(153, 163, 174, 0.259256);
  border-radius: 7px;
  width: 36px;
  height: 36px;
  margin-right: 20px;
  margin-left: 30px; }
  #send_message svg {
    fill: #0AD69C;
    position: relative;
    top: 2px;
    right: 1px; }

#send_message:hover svg {
  fill: #09c08c; }

#send_message:active svg {
  fill: #08a87b; }

#send_message:focus {
  outline: none; }

.write_icon {
  display: flex;
  align-items: baseline; }

.smile {
  margin-right: 25.53px; }

.write_text {
  width: 100%;
  height: 100%; }
  .write_text textarea {
    width: 100%;
    height: 100%;
    resize: none;
    display: block;
    padding: 20px 5px 5px 31px;
    border: none;
    outline: none;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #252F48; }
  .write_text textarea:focus {
    outline-offset: 0px; }

.search {
  display: flex;
  align-items: center;
  height: 47px;
  border-bottom: 1px solid #F5F6F9; }
  .search input {
    border: none;
    outline: none;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: Roboto-Regular;
    margin-left: 18.72px; }
  .search input:focus {
    outline-offset: 0px; }

.message_text, .message_text1 {
  display: flex;
  max-width: 300px;
  align-items: flex-end;
  font-size: 14px;
  color: #222428;
  background: #F7F9FC;
  border-radius: 5px;
  margin-left: 13px;
  padding: 12px 14px 12px 14px;
  position: relative; }

.message_text:before {
  content: url(../../img/Vector.png);
  position: absolute;
  bottom: -7px;
  left: -14px; }

.mes_area_date {
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: Exo2-Regular;
  color: #CACED9;
  margin-bottom: 92px; }

.message_time {
  font-size: 12px;
  color: #9BA0AD; }

.message_block {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px; }

.mes_area {
  height: 448px;
  overflow-y: scroll;
  padding: 0px 20px 21px 20px; }

.icon_search {
  padding-left: 16.28px; }

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none; }

.message_block_user {
  width: 300px;
  background: #F7F9FC;
  margin-bottom: 20px;
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 12px 14px 12px 14px;
  color: #222428;
  font-size: 14px; }

.message_block_user:after {
  content: url(../../img/Vector1.png);
  position: absolute;
  right: -14px;
  bottom: -8px; }

.message_block_time {
  font-family: Roboto-Regular;
  letter-spacing: 0.428571px;
  font-size: 12px;
  color: #9BA0AD; }

.aside {
  width: 80px;
  background-color: #01134E;
  height: 100%;
  padding-top: 18px; }

.logo svg {
  margin: 0 auto;
  display: block; }

.calendar {
  margin-top: 58px;
  height: 48px;
  border-left: 4px solid #01134E; }
  .calendar svg {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    left: -2px;
    transform: translateY(-50%); }

.calendar:after {
  content: '1';
  width: 19px;
  height: 19px;
  background-color: #2A74DB;
  font-size: 12px;
  font-weight: 900;
  font-family: Roboto-Black;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -18px;
  right: -37px;
  color: #fff;
  padding-top: 3px; }

.user {
  height: 48px;
  margin-top: 22px;
  margin-bottom: 22px;
  border-left: 4px solid #01134E; }
  .user svg {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    left: -2px;
    transform: translateY(-50%); }

.settings {
  height: 48px;
  margin-bottom: 23px;
  border-left: 4px solid #01134E; }
  .settings svg {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    left: -2px;
    transform: translateY(-50%); }

.people {
  height: 48px;
  margin-bottom: 20px;
  border-left: 4px solid #01134E; }
  .people svg {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    left: -2px;
    transform: translateY(-50%); }

.message {
  height: 48px;
  border-left: 4px solid #0AD69C; }
  .message svg {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    left: -2px;
    transform: translateY(-50%); }

.aside_btn:hover svg {
  fill: #a5afd3 !important; }

/*# sourceMappingURL=style.css.map */
