@font-face {
  font-family: BrandonGrotesque-Light;
  src: url("../fonts/BrandonGrotesque-Light.ttf"); }
@font-face {
  font-family: BrandonGrotesque-Bold;
  src: url("../fonts/BrandonGrotesque-Bold.ttf"); }
@font-face {
  font-family: BrandonGrotesque-Regular;
  src: url("../fonts/BrandonGrotesque-Regular.ttf"); }
html {
  box-sizing: border-box; }
  html *,
  html *:before,
  html *:after {
    box-sizing: inherit; }

body {
  max-width: 1400px;
  margin: 0 auto;
  color: #ffffff;
  font-family: BrandonGrotesque-Regular; }

.container {
  padding-left: 16.4285714286%;
  padding-right: 16.4285714286%; }

@media (max-width: 1200px) {
  .container {
    padding-left: 10%;
    padding-right: 10%; } }
@media (max-width: 768px) {
  .container {
    padding-left: 5%;
    padding-right: 5%; } }
header {
  background: url(../images/header_bg.png) center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  header p {
    font-family: BrandonGrotesque-Light;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.8px;
    margin: 0px; }
  header h1 {
    font-family: BrandonGrotesque-Bold;
    text-transform: uppercase;
    font-size: 66px;
    font-weight: 700;
    letter-spacing: -1.65px; }

.header_btn {
  font-family: BrandonGrotesque-Bold;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  border: 3px solid #fff;
  border-radius: 4px;
  background-color: rgba(25, 25, 25, 0);
  padding-left: 4.9285714286%;
  padding-right: 4.9285714286%;
  padding-top: 21px;
  padding-bottom: 21px;
  transition: background-color 0.5s; }

.header_btn:focus {
  outline: none; }

.header_btn:hover {
  background-color: rgba(60, 52, 83, 0.5);
  border: 3px solid rgba(60, 52, 83, 0.5); }

.header_btn:active {
  background-color: #3c3453; }

.amazing_team {
  background-color: #111111;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px; }

.amazing {
  display: flex;
  justify-content: space-between; }

.amazing_title {
  font-family: BrandonGrotesque-Light;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -1.5px;
  margin: 0; }
  .amazing_title span {
    font-family: BrandonGrotesque-Bold;
    font-weight: 700; }

.amazing_text {
  color: #777777;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.55px;
  margin-top: 0px;
  margin-bottom: 80px; }

.photo {
  max-width: 221px; }
  .photo img {
    display: block;
    width: 100%; }

.name {
  font-family: BrandonGrotesque-Bold;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 26px;
  letter-spacing: -0.45px; }

.profession {
  color: #ebebeb;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin-top: 5px;
  margin-bottom: 11px; }

.amazing_footer {
  color: #ebebeb;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-top: 49px;
  max-width: 590px;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 768px) {
  .amazing {
    flex-direction: column;
    align-items: center; }

  .amazing_col {
    margin-bottom: 30px; } }
#message_area {
  resize: none; }

footer {
  background-color: #7690c5;
  padding-bottom: 31px; }

.footer_title {
  font-family: BrandonGrotesque-Light;
  font-size: 60px;
  margin: 0px;
  letter-spacing: -1.5px;
  font-weight: 300; }
  .footer_title span {
    font-family: BrandonGrotesque-Bold;
    font-weight: 700; }

.footer_text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.45px; }

.footer_contacts {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 400; }

.contacts_col {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 30px; }

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  form input, form textarea {
    padding: 17px 20px 20px 20px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.45px; }
  form input, form textarea:focus {
    outline: none; }

.footer_block {
  width: 48%; }

.footer_flex {
  display: flex;
  justify-content: space-between;
  padding-top: 100px; }

.made {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 132px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px; }

.contacts_picture {
  width: 30px;
  margin-right: 15px; }

@media (max-width: 500px) {
  .footer_contacts {
    flex-direction: column;
    align-items: center; } }
@media screen and (max-width: 768px) {
  .footer_block {
    width: 100%; }

  .footer_title, .footer_text {
    text-align: center; }

  .contacts_col {
    width: 10   0%; } }
@media screen and (max-width: 992px) {
  .footer_flex {
    flex-direction: column; }

  .footer_block {
    width: 100%; }

  .footer_title, .footer_text {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
