#animate_block{
    width: 0px;
    height: 140px;
    position: absolute;
    bottom: 0px;
    right: 0;
    background-color: #fff;
    z-index: 1;
}
#animate_block_one, #animate_block_two, #animate_block_three, #animate_block_four{
    width: 0px;
    overflow: hidden; 
    font-size: 14px; 
}
#animate_block_one{
    letter-spacing: 0.7px;
    text-transform: uppercase;
    font-weight: 700;
    color: #070707;
    font-family: Bahnschrift-Semi_Bold;
}
#animate_block_two, #animate_block_three{
    font-family: ProximaNova-Light;
    font-weight: 400;
}
#animate_block_four{
    img{
        display: block;
    }
}
#animate_header{
    color: #070707;
    display: flex;
    min-height: 116px;
    align-items: center;
    justify-content: space-between;
    font-family: Circle-Regular;
    font-size: 14px;
    font-weight: 700;
}
.animate_block_row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.project_first_row{
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
.project_first_two{
    img{
        width: 80%;
        display: block;
    }
    .zero{
        width: auto;
    }
}
.project_title, .project_question_mark, .project_text,{
    margin-left: -30px;
    opacity: 0;
}
.zero{
    position: relative;
    left: 85%;
}
.project_first_two_block, .zero{
    position: relative;
    bottom: -40px;
}
.block_languages:hover{
    color: green !important;
}
@media(max-width:768px){
    .project_first_row{
        flex-direction: column;
        align-items: center;
        .project_title, .project_question_mark, .project_text{
            margin-bottom: 20px;
        }
    }
    .animate_block_row{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
    }
    #animate_block_four{
        img{
            margin: 0 auto;  
        }
    }
}