header{
    display: flex;
    min-height: 116px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: Circle-Regular;
    font-size: 14px;
    font-weight: 700;
}
.logo{
    max-width: 117px;
    margin-right: auto;
}
ul{
    list-style:none;
    padding: 0px;
}
.header_menu{
    display: flex;
    white-space: nowrap;
    margin-right: 22%;
    letter-spacing: 0.7px;
    li:first-child{
        margin-right: 75px;
    }
    li:hover{
        color: green;
        cursor: pointer;
    }
    li:active{
        color: #014101;
    }
}
#mein_menu{
    margin-right: 7%;
    letter-spacing: 1.4px;
    svg{
        margin-right: 7px;
    }
}
#mein_menu:hover{
    color: green;
    cursor: pointer;
    svg{
        use{
            fill:green;
        }
        
    }
}
#mein_menu:active{
    color: #014101;
    svg{
        use{
            fill:#014101;
        }
        
    }
}
.languages{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 14px;
    margin-right: 2px;
    letter-spacing: 1.4px;
    color: #fff;
}
.languages:hover{
    color: green;
    cursor: pointer;
}
#languages_arrow:hover{
    svg{
        use{
            fill: green;
        }
    }
}
.languages:active{
    svg{
        use{
            fill: #014101;
        }
    }
}
.languages:focus{
    outline: none;
}
.languages:before{
    content: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9" height="5" viewBox="0 0 9 5"><defs><path id="8bsba" d="M1839 56l-4.5 5-4.5-5z"/></defs><g><g transform="translate(-1830 -56)"><use fill="#fff" xlink:href="#8bsba"/></g></g></svg>';
}
@media(max-width:1200px){
    header{
        min-height: 80px;
    }
}
@media(max-width:768px){
    .header_menu{
        margin-right: 0px;
    }
    .logo{
        margin-right: 0px;
        max-width: 150px;
    }
    #mein_menu{
        margin-right: 0px;
    }
    .header_menu{
        display: none;
    }
}
