.main{
    display:flex;
    justify-content: space-between;
    min-height: 1080px - 116px;
    position: relative;
}
.development{
    width: 100%;
    min-height: 1080px - 116px;
    background: url(../../images/background/layer4.png) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block_title{
    background: url(../../images/background/layer5.png) -2px 88px no-repeat;
    background-size: auto;
    color: #ffffff;
    max-width: 640px;
    padding-left: 119px;
    margin-left: 231px / 1920px * 100%;
    h4{
        font-size: 24px;
        font-family: Bahnschrift-Semi_Bold;
        font-weight: 400;
    }
    h4:hover{
        color: #ccc;
    }
    h1{
        font-family: Circe-Extra_Bold;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        font-weight: 400;
        font-size: 48px;
        margin: 0px;
        line-height: 60px;
    }
    h1:hover{
        color: #ccc;
    }
}
.arrow-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 125px;
}
.arrow-right:hover{
    svg{
        path{
            fill:#ff2323 !important;
        }
    }
}
.block_date{
    margin-right: 263px / 1920px * 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
    p{
        font-family: Bahnschrift-Semi_Bold;
        letter-spacing: 2.4px;
        line-height: 60px;
        font-weight: 700;
        font-size: 48px;
        color: #ffffff;
        margin: 50px 0px 0px 0px;
        position: relative;
        span{
            letter-spacing: 0.8px;
            font-size: 16px;
            position: relative;
            top: -23px;
            right: 0px;
        }
    }
    p:hover{
        color: #ccc;
    }
}
@media(max-width:1200px){
    .block_title{
        h4{
            font-size: 18px;
        }
        h1{
            font-size: 32px;
        }
    }
}
@media(max-width:992px){
    .development{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .block_date{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0px;
        p{
            margin: 0px 30px 0px 0px;
        }
    }
}
@media(max-width:768px){
    .block_title{
        padding-left: 60px;
        h1{
            
            font-size: 24px !important;
        }
    }
}