html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
@font-face{
    font-family: Circle-Regular;
    src: url(../../fonts/Circle-Regular.otf);
}
@font-face{
    font-family: Bahnschrift-Semi_Bold;
    src: url(../../fonts/12002.ttf)
}
@font-face{
    font-family: Circe-Extra_Bold;
    src: url(../../fonts/CRC75.otf);
}
@font-face{
    font-family: ProximaNova-Light;
    src: url(../../fonts/ProximaNova-Light.ttf)
}
body{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #181818;
    position: relative;
}
.container{
    width: 100%;
    padding-left: 80px / 1920px * 100%;
    padding-right: 80px / 1920px * 100%;
}
img{
    display: block;
}


@import 'header';
@import 'section';
@import 'aside';
@import 'animate_block'
