html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

@font-face {
  font-family: Circle-Regular;
  src: url(../../fonts/Circle-Regular.otf); }
@font-face {
  font-family: Bahnschrift-Semi_Bold;
  src: url(../../fonts/12002.ttf); }
@font-face {
  font-family: Circe-Extra_Bold;
  src: url(../../fonts/CRC75.otf); }
@font-face {
  font-family: ProximaNova-Light;
  src: url(../../fonts/ProximaNova-Light.ttf); }
body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #181818;
  position: relative; }

.container {
  width: 100%;
  padding-left: 4.1666666667%;
  padding-right: 4.1666666667%; }

img {
  display: block; }

header {
  display: flex;
  min-height: 116px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: Circle-Regular;
  font-size: 14px;
  font-weight: 700; }

.logo {
  max-width: 117px;
  margin-right: auto; }

ul {
  list-style: none;
  padding: 0px; }

.header_menu {
  display: flex;
  white-space: nowrap;
  margin-right: 22%;
  letter-spacing: 0.7px; }
  .header_menu li:first-child {
    margin-right: 75px; }
  .header_menu li:hover {
    color: green;
    cursor: pointer; }
  .header_menu li:active {
    color: #014101; }

#mein_menu {
  margin-right: 7%;
  letter-spacing: 1.4px; }
  #mein_menu svg {
    margin-right: 7px; }

#mein_menu:hover {
  color: green;
  cursor: pointer; }
  #mein_menu:hover svg use {
    fill: green; }

#mein_menu:active {
  color: #014101; }
  #mein_menu:active svg use {
    fill: #014101; }

.languages {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 14px;
  margin-right: 2px;
  letter-spacing: 1.4px;
  color: #fff; }

.languages:hover {
  color: green;
  cursor: pointer; }

#languages_arrow:hover svg use {
  fill: green; }

.languages:active svg use {
  fill: #014101; }

.languages:focus {
  outline: none; }

.languages:before {
  content: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9" height="5" viewBox="0 0 9 5"><defs><path id="8bsba" d="M1839 56l-4.5 5-4.5-5z"/></defs><g><g transform="translate(-1830 -56)"><use fill="#fff" xlink:href="#8bsba"/></g></g></svg>'; }

@media (max-width: 1200px) {
  header {
    min-height: 80px; } }
@media (max-width: 768px) {
  .header_menu {
    margin-right: 0px; }

  .logo {
    margin-right: 0px;
    max-width: 150px; }

  #mein_menu {
    margin-right: 0px; }

  .header_menu {
    display: none; } }
.main {
  display: flex;
  justify-content: space-between;
  min-height: 964px;
  position: relative; }

.development {
  width: 100%;
  min-height: 964px;
  background: url(../../images/background/layer4.png) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.block_title {
  background: url(../../images/background/layer5.png) -2px 88px no-repeat;
  background-size: auto;
  color: #ffffff;
  max-width: 640px;
  padding-left: 119px;
  margin-left: 12.03125%; }
  .block_title h4 {
    font-size: 24px;
    font-family: Bahnschrift-Semi_Bold;
    font-weight: 400; }
  .block_title h4:hover {
    color: #ccc; }
  .block_title h1 {
    font-family: Circe-Extra_Bold;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    font-weight: 400;
    font-size: 48px;
    margin: 0px;
    line-height: 60px; }
  .block_title h1:hover {
    color: #ccc; }

.arrow-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 125px; }

.arrow-right:hover svg path {
  fill: #ff2323 !important; }

.block_date {
  margin-right: 13.6979166667%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px; }
  .block_date p {
    font-family: Bahnschrift-Semi_Bold;
    letter-spacing: 2.4px;
    line-height: 60px;
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    margin: 50px 0px 0px 0px;
    position: relative; }
    .block_date p span {
      letter-spacing: 0.8px;
      font-size: 16px;
      position: relative;
      top: -23px;
      right: 0px; }
  .block_date p:hover {
    color: #ccc; }

@media (max-width: 1200px) {
  .block_title h4 {
    font-size: 18px; }
  .block_title h1 {
    font-size: 32px; } }
@media (max-width: 992px) {
  .development {
    flex-direction: column;
    align-items: center;
    justify-content: center; }

  .block_date {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px; }
    .block_date p {
      margin: 0px 30px 0px 0px; } }
@media (max-width: 768px) {
  .block_title {
    padding-left: 60px; }
    .block_title h1 {
      font-size: 24px !important; } }
aside {
  width: 4.1666666667%;
  min-height: 964px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.aside_menu {
  color: #fff;
  font-family: Circle-Regular;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px; }
  .aside_menu li {
    transform: rotate(90deg);
    margin-bottom: 46px; }
  .aside_menu li:last-child {
    margin-bottom: 0px; }
  .aside_menu li:hover {
    color: green;
    cursor: pointer; }
  .aside_menu li:active {
    color: #014101; }

#animate_block {
  width: 0px;
  height: 140px;
  position: absolute;
  bottom: 0px;
  right: 0;
  background-color: #fff;
  z-index: 1; }

#animate_block_one, #animate_block_two, #animate_block_three, #animate_block_four {
  width: 10%;
  overflow: hidden;
  font-size: 14px;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  position: relative;
  left: -40px; }

#animate_block_one {
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-weight: 700;
  color: #070707;
  font-family: Bahnschrift-Semi_Bold;
  width: 18%; }

#animate_block_two {
  margin-right: 10%; }

#animate_block_two, #animate_block_three {
  font-family: ProximaNova-Light;
  font-weight: 400; }

#animate_block_four {
  margin-left: 15%; }
  #animate_block_four img {
    display: block; }

#animate_header {
  color: #070707;
  display: flex;
  min-height: 116px;
  align-items: center;
  justify-content: space-between;
  font-family: Circle-Regular;
  font-size: 14px;
  font-weight: 700; }

.animate_block_row {
  padding-left: 8%;
  height: 100%; }

.project_first_row {
  display: block;
  width: 80%;
  margin: 0 auto;
  overflow: auto; }

.project_first_two {
  width: 83%;
  margin: 0 auto;
  overflow: auto; }
  .project_first_two img {
    width: 100%;
    display: block; }
  .project_first_two .zero {
    width: auto; }

.project_title, .project_question_mark, .project_text {
  display: block;
  position: relative;
  padding-left: 40px;
  left: -40px;
  float: left;
  opacity: 0; }

.project_title {
  width: 30%; }

.project_question_mark {
  width: 40%; }

.project_text {
  width: 30%; }

.zero {
  position: relative;
  left: 85%; }

.project_first_two_block, .zero {
  position: relative;
  bottom: -40px;
  opacity: 0; }

.block_languages:hover {
  color: green !important; }

@media (max-width: 768px) {
  .project_first_row .project_title, .project_first_row .project_question_mark, .project_first_row .project_text {
    margin-bottom: 20px; }

  #animate_block_four img {
    margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
